body {
	background-color: lightblue;
}

header {
	width: 100%;
	background: url('../images/logo.png') center center;
	background-repeat: no-repeat;
	background-size: 40px;
	height: 50px;
	background-color: white;
	border-bottom: 1px solid skyblue;
	margin-bottom: 20px;
	position: fixed;
}

div.background_box {
	height: 70px;
}

div.main {
	padding-top: 5px;
	max-width: 1190px;
	width: 100%;
	margin: 0 auto;
}

nav.left {
	padding-top: 5px;
	width: 400px;
	float: left;
}

nav.right {
	width: 400px;
	float: right;
}

nav a.button {
	margin-right: 20px;
	font-family: Helvetica;
	font-size: 15px;
	text-decoration: none;
	color: #66757f;
	opacity: 0.9;
}

nav a.button:hover {
	opacity: 1;
	text-decoration: underline;
}

#nav_bar_pic {
	width: 25px;
}

#new_post_pic {
	width: 35px;
}

input.main_search {
	background-color: #a3acb2;
	font-size: 15px;
	font-family: Helvetica;
	color: white;
	border-radius: 20px;
	margin-right: 10px;
	height: 35px;
	width: 170px;
	outline: 0;
}

section.content {
	display: flex;
	max-width: 1190px;
	margin: 0 auto;
	border-radius: 10px;
	color: #66757f;
	font-family: Helvetica;
}

section.left {
	float: left;
	border-radius: inherit;
	width: 350px;
}

section.center {
	border-radius: inherit;
	margin: 0 auto;
	width: 450px;
	background-color: white;
}

section.right {
	border-radius: inherit;
	float: right;
	width: 350px;
	background-color: white;
}

article.profile {
	background-color: skyblue;
	width: 350px;
	height: 330px;
	border-radius: inherit;
}

section.top {
	background: url('../images/code.png');
	background-repeat: no-repeat;
	height: 200px;
	border-radius: inherit;
}

section.middle {
	display: flex;
	margin-top: -10px;
	background-color: white;
}

div.tweets {
	padding: 10px;
}

#profile_pic {
	margin: -60 20 0 20;
	border-radius: 10px;
	background-color: white;
	padding: 5px;
}

#name {
	padding-top: 10px;
}

h1 {
	color: black;
	font-family: Helvetica;
	font-size: 20px;
}

#profile_input {
	width: 300px;
	margin: 10 auto 10 auto;
	margin-left: 18px;
	height: 30px;
	border-radius: 5px;
	font-size: 15px;
	text-align: center;
	outline: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
